name: Build ESP32 Marauder

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install PlatformIO
      run: pip install platformio

    - name: Build firmware
      run: platformio run

    - name: Upload firmware
      uses: actions/upload-artifact@v3
      with:
        name: firmware-bin
        path: ".pio/build/*/firmware.bin"
